/bin/
/.classpath
/.project
/.scala_dependencies
/.settings
/project/build/target/
/project/plugins/project/build.properties
/project/plugins/src_managed/
/project/plugins/lib_managed/
/project/plugins/target/
/target/
/lib_managed/
/project/boot/
/*/project/boot/
/*/project/build/target/
/*/lib_managed
/*/target/
