/*/.classpath
/*/.project
/*/.scala_dependencies
/*/.settings
/*/.target
/*/.cache
/bin/
/.history
/project/build/target/
/project/plugins/project/build.properties
/project/plugins/src_managed/
/project/plugins/lib_managed/
/project/plugins/target/
/target/
/lib_managed/
/project/boot/
/*/project/boot/
/*/project/build/target/
/*/lib_managed
/*/target/
/jdriver/src/main/scala/org/beaucatcher/jdriver/j
/hammersmith/src/main/scala/org/beaucatcher/hammersmith/j
